*{
  background-color: rgb(12, 12, 121);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 30vh;
}

.App button {
  padding: 1rem 2rem;
  color: rgb(15, 73, 128);
  border-radius: 10px;
  font-size: 1.2rem;
  font-weight: 600;
  border: none;
  background-color: #FFFF;
}

.jokes {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  color: rgb(15, 73, 128);
  background-color: #FFF;
  width: 50%;
  margin: auto;
  padding: 0 1rem;
  font-size: 1.5rem;
  font-weight: 600;
  border-radius: 10px;
}